<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SteeringSA.Properties.Settings.Steering_S_AConnectionString"
            connectionString="Data Source=DESKTOP-230OKFM\SNAKEHACK_SERVER;Initial Catalog=&quot;Steering S.A&quot;;Persist Security Info=True;User ID=sa;Password=sqlPx31"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>